USE [master]
GO
/****** Object:  Database [MyComp]    Script Date: 04/05/2021 17:16:33 ******/
CREATE DATABASE [MyComp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyComp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL2017\MSSQL\DATA\MyComp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyComp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQL2017\MSSQL\DATA\MyComp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyComp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyComp]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04/05/2021 17:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DeprId] [int] IDENTITY(1,1) NOT NULL,
	[DeprName] [nvarchar](100) NOT NULL,
	[DeprDescr] [nvarchar](300) NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeprId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 04/05/2021 17:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[WHId] [int] IDENTITY(1,1) NOT NULL,
	[WrkrNumber] [int] NOT NULL,
	[WHDate] [int] NOT NULL,
	[WHIn] [nvarchar](100) NULL,
	[WHOut] [nvarchar](100) NULL,
	[WHTotalHours] [decimal](6, 2) NOT NULL,
	[WH100] [decimal](6, 2) NOT NULL,
	[WH125] [decimal](6, 2) NOT NULL,
	[WH150] [decimal](6, 2) NOT NULL,
	[WH200] [decimal](6, 2) NOT NULL,
	[IsHourly] [bit] NOT NULL,
	[HourlyPrice] [decimal](6, 2) NOT NULL,
	[TripPrice] [decimal](6, 2) NOT NULL,
	[IsGlobally] [bit] NOT NULL,
	[GloballyTotal] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[WHId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 04/05/2021 17:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[WrkrNumber] [int] NOT NULL,
	[IDN] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPass] [nvarchar](100) NOT NULL,
	[IsSysAdmin] [bit] NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone1] [nvarchar](100) NULL,
	[Phone2] [nvarchar](100) NULL,
	[Status] [nvarchar](100) NULL,
	[IsManager] [bit] NOT NULL,
	[RolId] [int] NOT NULL,
	[DeprId] [int] NOT NULL,
	[ManagerId] [int] NOT NULL,
	[City1] [nvarchar](200) NULL,
	[Address1] [nvarchar](200) NULL,
	[BankNumber] [int] NOT NULL,
	[BnkBrnchNum] [int] NOT NULL,
	[BnkAccountNum] [nvarchar](100) NULL,
	[Gender] [nvarchar](100) NULL,
	[HourlyPrice] [decimal](6, 2) NOT NULL,
	[TripPrice] [decimal](6, 2) NOT NULL,
	[IsHourly] [bit] NOT NULL,
	[IsGlobally] [bit] NOT NULL,
	[GloballyTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WrkrNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkRoles]    Script Date: 04/05/2021 17:16:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkRoles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[RoleDescr] [nvarchar](300) NULL,
	[Status] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 
GO
INSERT [dbo].[Departments] ([DeprId], [DeprName], [DeprDescr], [Status]) VALUES (1, N'מערכות מידע', NULL, N'Active')
GO
INSERT [dbo].[Departments] ([DeprId], [DeprName], [DeprDescr], [Status]) VALUES (2, N'תפ"י', NULL, N'Active')
GO
INSERT [dbo].[Departments] ([DeprId], [DeprName], [DeprDescr], [Status]) VALUES (3, N'מכירות', NULL, N'Active')
GO
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Shifts] ON 
GO
INSERT [dbo].[Shifts] ([WHId], [WrkrNumber], [WHDate], [WHIn], [WHOut], [WHTotalHours], [WH100], [WH125], [WH150], [WH200], [IsHourly], [HourlyPrice], [TripPrice], [IsGlobally], [GloballyTotal], [Status]) VALUES (1, 100524, 20210410, N'08:07', N'18:36', CAST(10.48 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(10.48 AS Decimal(6, 2)), 1, CAST(32.00 AS Decimal(6, 2)), CAST(15.10 AS Decimal(6, 2)), 0, CAST(0.00 AS Decimal(10, 2)), N'פעיל')
GO
INSERT [dbo].[Shifts] ([WHId], [WrkrNumber], [WHDate], [WHIn], [WHOut], [WHTotalHours], [WH100], [WH125], [WH150], [WH200], [IsHourly], [HourlyPrice], [TripPrice], [IsGlobally], [GloballyTotal], [Status]) VALUES (2, 100524, 20210419, N'01:51', N'10:52', CAST(9.02 AS Decimal(6, 2)), CAST(8.00 AS Decimal(6, 2)), CAST(1.02 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), 1, CAST(32.00 AS Decimal(6, 2)), CAST(15.10 AS Decimal(6, 2)), 0, CAST(0.00 AS Decimal(10, 2)), N'פעיל')
GO
INSERT [dbo].[Shifts] ([WHId], [WrkrNumber], [WHDate], [WHIn], [WHOut], [WHTotalHours], [WH100], [WH125], [WH150], [WH200], [IsHourly], [HourlyPrice], [TripPrice], [IsGlobally], [GloballyTotal], [Status]) VALUES (3, 100524, 20210420, N'12:41', N'18:42', CAST(6.02 AS Decimal(6, 2)), CAST(6.02 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(6, 2)), 1, CAST(32.00 AS Decimal(6, 2)), CAST(15.10 AS Decimal(6, 2)), 0, CAST(0.00 AS Decimal(10, 2)), N'פעיל')
GO
SET IDENTITY_INSERT [dbo].[Shifts] OFF
GO
INSERT [dbo].[Workers] ([WrkrNumber], [IDN], [FullName], [UserName], [UserPass], [IsSysAdmin], [Email], [Phone1], [Phone2], [Status], [IsManager], [RolId], [DeprId], [ManagerId], [City1], [Address1], [BankNumber], [BnkBrnchNum], [BnkAccountNum], [Gender], [HourlyPrice], [TripPrice], [IsHourly], [IsGlobally], [GloballyTotal]) VALUES (100524, N'212121', N'Full Name 1', N'FN1', N'fn1', 0, N'FN1@gmail.com', N'1', N'1', N'Active', 1, 0, 0, 100720, N'City23', N'Adrs 111', 11, 110, N'111111', NULL, CAST(32.00 AS Decimal(6, 2)), CAST(15.10 AS Decimal(6, 2)), 1, 0, CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Workers] ([WrkrNumber], [IDN], [FullName], [UserName], [UserPass], [IsSysAdmin], [Email], [Phone1], [Phone2], [Status], [IsManager], [RolId], [DeprId], [ManagerId], [City1], [Address1], [BankNumber], [BnkBrnchNum], [BnkAccountNum], [Gender], [HourlyPrice], [TripPrice], [IsHourly], [IsGlobally], [GloballyTotal]) VALUES (100538, N'212122', N'Full Name 2', N'FN2', N'fn2', 0, N'FN2@gmail.com', N'2', N'2', N'Active', 0, 0, 0, 0, N'City24', N'Adrs 112', 22, 120, N'111222', NULL, CAST(32.20 AS Decimal(6, 2)), CAST(15.20 AS Decimal(6, 2)), 1, 0, CAST(0.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Workers] ([WrkrNumber], [IDN], [FullName], [UserName], [UserPass], [IsSysAdmin], [Email], [Phone1], [Phone2], [Status], [IsManager], [RolId], [DeprId], [ManagerId], [City1], [Address1], [BankNumber], [BnkBrnchNum], [BnkAccountNum], [Gender], [HourlyPrice], [TripPrice], [IsHourly], [IsGlobally], [GloballyTotal]) VALUES (100552, N'212121', N'Full Name 3', N'FN3', N'fn3', 0, N'FN3@gmail.com', N'3', N'3', N'Active', 0, 0, 0, 0, N'City25', N'Adrs 113', 33, 130, N'111333', NULL, CAST(32.40 AS Decimal(6, 2)), CAST(15.30 AS Decimal(6, 2)), 1, 0, CAST(0.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[WorkRoles] ON 
GO
INSERT [dbo].[WorkRoles] ([RolId], [RoleName], [RoleDescr], [Status]) VALUES (1, N'מפעיל/ה', NULL, N'Active')
GO
INSERT [dbo].[WorkRoles] ([RolId], [RoleName], [RoleDescr], [Status]) VALUES (2, N'אחראי/ת משמרת', NULL, N'Active')
GO
INSERT [dbo].[WorkRoles] ([RolId], [RoleName], [RoleDescr], [Status]) VALUES (3, N'מזכיר/ה', NULL, N'Active')
GO
SET IDENTITY_INSERT [dbo].[WorkRoles] OFF
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WrkrNumber]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WHDate]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WHTotalHours]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WH100]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WH125]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WH150]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [WH200]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [IsHourly]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [HourlyPrice]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [TripPrice]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [IsGlobally]
GO
ALTER TABLE [dbo].[Shifts] ADD  DEFAULT ((0)) FOR [GloballyTotal]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT (' ') FOR [IDN]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [IsSysAdmin]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [IsManager]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [RolId]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [DeprId]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [ManagerId]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [BankNumber]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [BnkBrnchNum]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [HourlyPrice]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [TripPrice]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [IsHourly]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [IsGlobally]
GO
ALTER TABLE [dbo].[Workers] ADD  DEFAULT ((0)) FOR [GloballyTotal]
GO
USE [master]
GO
